a:has(section) {
  width: 300px;
  color: inherit;
  text-decoration: inherit;
}

div section {
  height: 100px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div:has(section) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.featured {
  border-color: fuchsia;
  border-width: 2px;
}

.home-cards {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin-bottom: 16px;
}
