.adventures-list {
  padding: 0px;
}

.adventures-list li {
  margin: 0px;
  list-style-type: none;
}

.adventures-list a {
  text-decoration: none;
}

.adventures-list div {
  height: 100px;
  max-width: 600px;
  min-width: 100px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: oklch(80% 20% 190);
}

.adventures-list h2 {
  color: oklch(80%, 80%, 360);
}
